.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
Slides/Landings paper/Tommasi_CAFA_052621.pptx
Data/PacFin_monthly.csv
Slides/slide_comments/slides_ppt_landing_IK.pptx
Slides/slide_comments/slides_ppt_landing_IK_SMS.pptx
Slides/slide_comments/slides_ppt_landing_IK_SMS_DT.pptx
.RDataTmp1
*.RData
Comments/econ_landings_paper_BM_IK-v2.pdf
Comments/econ_landings_paper_BM_IK-v2.pdf
.httr-oauth
*.mp4
Slides/ECCWO-5 presentation.pptx
Slides/ECCWO-5 presentation.pptx
Slides/ECCWO-5 presentation.pptx
